
    {% extends "AppFinal/padre.html" %}
    {% block Contenido %}

    <div class="container">
          <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Kevin Rocha</h5>
                  <p class="card-text">Mi nombre es Kevin, tengo 30 años y trabajo en una fabrica de colchones.
                    Comencé el curso de Python por pura curiosidad. 
                    Siendo nuevo en el mundo de la programación me surge la necesidad de adquirir nuevos conocimientos y herramientas para poder comprender todo este mundo.</p>
                </div>
              </div>
              <div class="col-md-4">
                <img style="max-width: 300px;float:right" class="img-fluid" src="../media/yo.jpg" >
              </div>
            </div> 
          </div>
    </div> 

    {% endblock %}

